In [2]:
import pandas as pd

In [3]:
distance_data = pd.read_csv("./../Pdistance.txt", index_col=0)
names = {0:"A", 1:"B", 2:"C", 3:"D", 4:"E", 5: "F", 6:"G", 7:"H", 8:"I", 9:"J"}
distance_data.rename(index=names, inplace=True)
distance_data.columns = list(names.values())
distance_data

     A    B    C    D    E    F    G    H    I    J
A  589  168  255  221  201  200  194  212  210  214
B  168  591  237  332  314  270  332  347  359  356
C  255  237  579  331  346  333  302  331  330  326
D  221  332  331  596  459  425  444  468  485  482
E  201  314  346  459  583  499  423  480  487  484
F  200  270  333  425  499  575  388  451  442  438
G  194  332  302  444  423  388  575  455  481  478
H  212  347  331  468  480  451  455  587  522  518
I  210  359  330  485  487  442  481  522  591  584
J  214  356  326  482  484  438  478  518  584  591

In [4]:
half_list = []
labels = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
distance_data = distance_data.to_numpy()
for i in range(10):
    row = []
    for j in range(i):
        row.append(distance_data[i][j])
    half_list.append(row)
del row

In [5]:
def lowest_value(table):
    """ Given an 2d array the function returns the lowest value in the array."""
    min_cell = float("inf")
    x, y = -1, -1

    for i in range(len(table)):
        for j in range(len(table[i])):
            if table[i][j] < min_cell:
                min_cell = table[i][j]
                x, y = i, j

    return x, y

def join_labels(labels, a, b):
    """ Used for keeping track of combined nodes easier.
        Deletes the larger valued node after the combination """
    
    if b < a:
        a, b = b, a
    labels[a] = "(" + labels[a] + "," + labels[b] + ")"
    del labels[b]

def join_table(table, a, b):
    """
        Given the coordinates of the smallest element, this function joins 
        the corresponding rows according to the UPGMA algorithm. 
        """
    if b < a:
        a, b = b, a

    row = []
    for i in range(0, a):
        row.append((table[a][i] + table[b][i])/2)
    table[a] = row
    
    for i in range(a+1, b):
        table[i][a] = (table[i][a]+table[b][i])/2
        
    for i in range(b+1, len(table)):
        table[i][a] = (table[i][a]+table[i][b])/2
        del table[i][b]

    del table[b]

In [6]:
def UPGMA(table, labels):
    """
        Phylogenetic tree in The Newick tree format """
    while len(labels) > 1:
        x, y = lowest_value(table)
        join_table(table, x, y)
        join_labels(labels, x, y)
    return labels[0]

In [7]:
UPGMA(half_list, labels)

'(((((((((A,B),F),C),G),D),E),H),J),I)'